

<form class="codingArea">
    <div class="programmingBlock">
        <label for="codeBlock">Code Block</label>
        <textarea ng-model='codeBlock' id="codeBlock" class="codemirror-textarea form-control"></textarea>
    </div>

    <div class="submitArea">
        <button ng-click="$ctrl.runTest()" class="testButton">
            Submit Code!
        </button>
    </div>


</form>
<div id="results">
    <div class="failed">
        Test Failed!
    </div>
    <button ng-click="$ctrl.launch()" class="launchButton">
        Launch!

    </button>


</div>

<div id="mocha"></div>